@use '../../styles/colors.scss' as colors;
.buttons {
  display: flex;
  align-items: baseline;
}

.button {
  padding: 0.5rem;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    color: colors.$c-gray-150;
  }
}

.button:first-child {
  border-right: 1px solid colors.$c-gray-150;
}
