@use '../../../styles/colors.scss' as colors;

.section {
  display: flex;
  justify-content: center;
}

.block {
  max-width: 144rem;
  padding: 12.1rem 19.5rem 6rem 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.figureBlock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.1rem;
}

.figure:not(:last-child) {
  border-right: 1px solid colors.$c-gray-150;
}

.figcaption {
  text-align: center;
  padding: 0 2.5rem;
}

.title {
  padding-left: 1.9rem;
}

.subTitle:not(:last-child) {
  padding-bottom: 2rem;
}

.step {
  font-size: 2.4rem;
}

@media (width <= 968px) {
  .block {
    padding: 12.1rem 2rem 6rem 2rem;
  }
  .figureBlock {
    display: flex;
    flex-wrap: wrap;
  }

  .figure {
    width: 30.6rem;
  }
}
