@use '../../../styles/colors.scss' as colors;

.hero {
  height: 84.2rem;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 5rem;
  color: colors.$c-white;
}

.wrapper {
  max-width: 144rem;
  width: 100%;
  padding: 12.1rem 0 0 10.9rem;
}

.textBlock {
  max-width: 70rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  font-family: 'Rubik-Mono-one, monospace';
  font-size: 4rem;
  padding-bottom: 3.5rem;
}

.subTitle {
  font-family: 'Roboto-medium, sans serif';
  font-size: 2.4rem;
  padding: 0 6rem 7.2rem 0;
}
