@use '../../../styles/colors.scss' as colors;

.button {
  padding: 1.6rem 3.2rem;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:disabled {
    background-color: colors.$c-gray-100;
    color: colors.$c-gray-700;
    cursor: not-allowed;
    border: none;
  }

  &:active:not([disabled]),
  &:focus:not([disabled]) {
    background-color: colors.$c-gray-300;
    box-shadow: 2px 4px 4px 0 colors.$c-brown-600 inset;
  }
}

.buttonLight {
  background-color: colors.$c-white-100;
  color: colors.$c-black;

  &:hover:not([disabled]) {
    border: 1px solid colors.$c-gray-300;
    box-shadow: 2px 4px 4px 0 colors.$c-gray-200;
  }
}

.buttonDark {
  background-color: colors.$c-dark;
  color: colors.$c-white;

  &:hover:not([disabled]) {
    border: 1px solid colors.$c-gray-200;
    box-shadow: 2px 4px 4px 0 colors.$c-gray-200;
  }
}
