.header {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.wrapper {
  max-width: 144rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.navList {
  display: flex;
  gap: 3rem;
}

.buttons {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}
