@use '../../../styles/colors.scss' as colors;
.section {
  display: flex;
  justify-content: center;
  padding: 4.3rem 1rem 11rem;
}

.wrapper {
  max-width: 122.4rem;
  width: 100%;
}

.block {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  gap: 7rem;
}

.title {
  padding-bottom: 2.4rem;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.subTitle {
  text-indent: 2rem;
  font-size: 1.6rem;
}

@media (width <= 1200px) {
  .block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
