@use '../../../styles/colors.scss' as colors;

.section:not(:first-child) {
  display: flex;
  justify-content: center;
}

.block {
  width: 100%;
  max-width: 122rem;
  padding: 6rem 1rem 9.3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  gap: 7rem;
}

.paymentBlock {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 7rem;
}

@media (width <= 1400px) {
  .inner {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    gap: 2rem;
  }
}

@media (width <= 1200px) {
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }
}

@media (width <= 968px) {
  .block {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
}
