@use '../../../styles/colors.scss' as colors;

.section {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.wrapper:not(:last-child) {
  max-width: 122.4rem;
  width: 100%;
}

.block {
  display: flex;
  justify-content: space-between;
}

.sliderBlock {
  max-width: 140rem;
  position: relative;
}

.title {
  font-family: 'Rubik-Mono-one, monospace';
  font-size: 4rem;
}
