@use '../../../styles/colors.scss' as colors;

.section {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.wrapper {
  width: 100%;
  max-width: 122.4rem;
  display: flex;
  flex-direction: column;
}

.block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.sliderBlock {
  padding-top: 1rem;
  max-width: 95rem;
  width: 100%;
  position: relative;
}

@media (width <= 1200px) {
  .section {
    padding: 3rem 1rem;
  }

  .sliderBlock {
    max-width: 60rem;
  }
}

@media (width <= 480px) {
  .swipeBlock {
    width: 38rem;
  }
}
