// White Shades
$c-white: #ffffff;
$c-white-50: #f3f3f3;
$c-white-100: #fafafa;
$c-white-200: #cacaca;
$c-white-300: #979797;
$c-white-400: #656565;
$c-white-500: #323232;

// Gray Shades
$c-gray-100: #dcdcdc;
$c-gray-150: #cfccc7;
$c-gray-200: #afa7a3;
$c-gray-300: #877a76;
$c-gray-400: #5e4e48;
$c-gray-700: #575453;

// Black Shades
$c-black: #1b1b1b;
$c-black-50: #f3f3f3;
$c-black-200: #d0d0d0;
$c-black-400: #a2a2a2;
$c-black-600: #737373;
$c-black-800: #454545;
$c-black-1000: #161616;

// Brown Shades
$c-brown-500: #482d22;
$c-brown-600: #36221a;
$c-brown-700: #2c1c15;
$c-brown-800: #1f140f;
$c-brown-900: #2c1c15;
$c-brown-1000: #1f140f;

// Blue Shades
$c-blue-200: #688294;
$c-blue-400: #adc6d2;
$c-blue-500: #84a9bb;
$c-blue-600: #5a8ca5;
$c-blue-700: #467e9a;
$c-blue-800: #394f5f;
$c-blue-900: #23313b;

// Other Colors
$c-green-700: #2c413a;
$c-green: #21832b;
$c-red: #d80000;
$c-dark: #1d1b19;
