$c-white: #ffffff;
$c-white-100: #fafafa;
$c-gray-100: #dcdcdc;
$c-gray-200: #afa7a3;
$c-gray-300: #877a76;
$c-gray-700: #575453;
$c-brown-500: #482d22;
$c-brown-600: #2c1c15;
$c-brown-700: #1f140f;
$c-blue-200: #688294;
$c-green-700: #2c413a;
$c-dark: #1d1b19;
$c-black: #1b1b1b;
